body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  max-width: 680px;
    margin: 0 auto;
}
.line{
  position: relative;
  min-width: fit-content;
  cursor: pointer;
}

.line.green::before{
background-color: #008000;
}
.line.black::before{
  background-color: #000;
  }
.line::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 3px;
  transform: translatey(-50%);

}
.width-h h4{
  width: fit-content;
}